@import url(https://db.onlinewebfonts.com/c/a8d7b985e4eb8c5d34f2302ffe83e917?family=Nike+Futura+ND);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);
@import url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2);
@import url(https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxl2umOyRU7PgRiv8DXcgJjk.woff2);

.forgetpassword-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.forgetpassword-left {
  flex: 1;
  /* padding: 60px; */
  /* background: linear-gradient(135deg, #7b2ff7, #f107a3); */
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.forgetpassword-left-image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.forgetpasswordcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: white;
  border-radius: 10px;
}
.forgetpasswordtitle {
  display: flex;
  align-items: center;
  font-weight: bold !important;
  justify-content: center;
  margin-bottom: 16px;
  margin-bottom: 20px;
}
.forgetpasswordpaper {
  padding: 23.3px;
  border-radius: 8px;
  /* box-shadow: 0 4px 6px rgb(255, 255, 255); */
  width: 100%;
  max-width: 400px;
  background-color: white;
}
.forgetpasswordsubtitle {
  text-align: center;
  margin-bottom: 24px;
}

.forgetpasswordtextfeild {
  color: black;
  padding: 100px;
  margin-bottom: 24px;
}
.forgetpasswordbutton {
  padding: 10px;
  margin: 30px;
  width: 60%;
  background-color: #3fc32e !important;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  transition: background-color 0.3s;
  /* margin-left: 70px !important;
  margin-top: 10px !important; */
}
.forgetpasswordbtn {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 30px !important;
}
.forgetpasswordbutton:hover {
  background-color: #1565c0;
}

body {
  margin: 0;
  padding: 0;
}
.login-container {
  display: flex;
  height: 100vh;
  width: 97%;
}
.login-left {
  flex: 1;
  /* padding: 60px; */
  /* background: linear-gradient(135deg, #7b2ff7, #f107a3); */
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.login-left-image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.loginbox {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-right: 2rem;
  background: white !important;
}

.logindiv {
  padding: 20px;
  border-radius: 20px;
  /* box-shadow: 0 10px 40px rgba(255, 255, 255, 0.943) !important; */
  width: 350px;
  background-color: white;
}
.login-right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.logintitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold !important;
  margin-bottom: 20px;
  font-family: Arial, sans-serif !important;
}

.loginsubtitle {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  font-family: Arial, sans-serif !important;
}

.logintextlink {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: background-color 0.3s ease-in-out;
  margin-left: 20px !important;
  margin-top: 10px !important;
}

.loginbtn {
  /* padding: 10px !important; */
  margin-left: 30px !important;
  margin-top: 10px !important;
  width: 60%;
  background-color: #18c90b !important;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  transition: background-color 0.3s;
  font-family: Arial, Helvetica, sans-serif !important;
}

.loginresuableemail {
  transition: all 0.4s ease-in-out;
  margin: 10px !important;
}

.logindivbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif !important;
}

.logintextlinkforgetpassword {
  align-items: center;
  display: flex;
  /* justify-content: center; */
  margin: 12px;
  color: #1976d2;
  transition: all 0.4s ease-in-out !important;
}

.logintextlinkpassword:active {
  transform: scale(0.95);
  opacity: 0.6;
}

.loginpassword,
.loginemail {
  color: black;
  padding: 100px;
  margin-bottom: 24px;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.signup-container {
  display: flex;
  height: 100vh;
  width: 98%;
}

.signup-left {
  flex: 1;
  /* padding: 60px; */
  /* background: linear-gradient(135deg, #7b2ff7, #f107a3); */
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.signup-left-image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}
/* body {
  overflow: hidden;
} */

.signupcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  background-color: white;
  border-radius: 10px;
}
.signuppaper {
  padding: 28px;
  border-radius: 8px;
  /* box-shadow: 0 4px 6px rgba(255, 255, 255, 0.959); */
  /* width: 100%; */
  max-width: 600px;
  background-color: white;
}
.signuptitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px !important;
  font-weight: bold !important;
  font-family: Arial, Helvetica, sans-serif !important;
}
.signupsubtitle {
  display: flex;
  align-items: center;
  justify-content: center;
}
.signup-subtext-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.signuptextfield {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin-left: 10px !important;
  margin-bottom: 10px !important;
}
.signuptextfield .css-16wblaj-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 14.5px 20px;
}
.signupsubtitle2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.signupsubtitle3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.signupbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif !important;
}
.signupbtnmain {
  width: 70% !important;
  margin-left: 20px !important;
  background-color: #18c90b !important;
  font-family: Arial, Helvetica, sans-serif !important;
}
.signuplogin {
  display: flex;
  justify-content: center;
  align-items: center;
}
.newpasswordcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: white;
  border-radius: 10px;
}
.newpasswordtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold !important;
}

.newpassword-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.newpassword-left {
  flex: 1;
  /* padding: 60px; */
  /* background: linear-gradient(135deg, #7b2ff7, #f107a3); */
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.newpassword-left-image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.newpasswordsubtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif !important;
}
.newpasswordpaper {
  padding: 12px !important;
  border-radius: 8px;
  /* box-shadow: 0 4px 6px rgb(255, 255, 255); */
  max-width: 600px;
  background-color: #ffffff;
}
.newpasswordtextfield,
.css-16wblaj-MuiInputBase-input-MuiOutlinedInput-input {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.newpasswordtextfield {
  margin-bottom: 20px !important;
}
.newpasswordtextfielddiv {
  margin-left: 50px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.newpasswordbtn {
  display: flex !important;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif !important;
}
.newpasswordbutton {
  background-color: #18c90b !important;
  width: 50% !important;
  border-radius: 5px !important;
  font-family: Arial, Helvetica, sans-serif !important;
}

img.nike-logo-nav {
  height: 100% !important;
  width: 99px !important;
  cursor: pointer;
}

.css-1ygil4i-MuiToolbar-root {
  background-color: #ffffff;
  height: 60px;
}
.css-1umw9bq-MuiSvgIcon-root {
  color: black;
}
.anticon svg {
  color: black;
  height: 50px !important;
  width: 25px !important;
}

.jordan-page .css-1ygil4i-MuiToolbar-root {
  background-color: #1f1f21 !important;
}


.nav-text,
.css-rizt0-MuiTypography-root {
  /* color: black; */
  /* display: flex;
  justify-content: space-between !important; */
  margin: 20px !important;
  /* font-weight: 500 !important; */
  cursor: pointer;
  /* font-weight: 700 !important; */
  font-family: 'Open Sans', sans-serif !important;
}
.nav-search-icon,
.css-3ycy3u-MuiInputBase-root .MuiInputBase-input {
  color: black !important;
}
.nav-search-icon {
  border-radius: 25px !important;
  overflow: hidden !important;
}

.nav-cart {
  margin: 10px;
}
.nav-search-icon {
  /* background-color: #f0f0f0 !important; */
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.nav-search-icon:hover {
  /* background-color: #e0e0e0 !important; */
}

.nav-search-icons {
  color: #555;
}

.nike-logo-nav {
  height: 30px !important;
  margin-right: 0px !important;
  width: 20px !important;
}

.nav-text {
  margin: 0 8px;
  font-size: 14px;
  color: rgb(0, 0, 0);
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}
.nav-text:hover {
  text-decoration: underline;
}

.nav-icon {
  margin: 0px 0px 0px 10px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.nav-icon:hover {
  background-color: #e5e5e5;
  border-radius: 50%;
}


.jordan-logo-nav {
  width: 60px;
  cursor: pointer;
}
.nav-text-main {
  cursor: pointer;
  display: flex !important;
  margin: 5px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  unicode-bidi: isolate;
  font-size: 75%;
  font-weight: bold !important;
}
.nav-text-signout {
  text-decoration: none !important;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  unicode-bidi: isolate;
  font-size: 75% !important;
  font-weight: bold !important;
  margin: 0px !important;
  cursor: pointer;
}

.nav-expand-logo {
  width: 140px;
  height: 70px !important;
}
.nav-name.dark {
  background-color: #1F1F21;
  color: white;
}

.nav-name.light {
  background-color: white;
  color: black;
}
.css-rvh7fc {
  justify-content: space-between;
}
.css-163zu21 {
  background-color: white !important;
}
.text-carousel {
  width: 100%;
  overflow: hidden;
  background-color: #ffffff;
  color: #000000;
  padding: 10px;
  text-align: center;
  font-family: 'Open Sans', sans-serif !important;
  position: relative;
  height: 60px;
}

.carousel-text-wrapper {
  display: inline-block;
  white-space: nowrap;
  animation: slideInOut 6s ease-in-out infinite;
}

.carousel-title {
  font-size: 15px;
  /* font-weight: bold; */
  display: block;
}

.carousel-sub {
  font-size: 14px;
  display: block;
  margin-top: 4px;
}

.carousel-link {
  color: #000000;
  text-decoration: underline;
  font-weight: 500;
}

@keyframes slideInOut {
  0% {
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
  }
  20% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  80% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(100%, 0, 0);
    opacity: 0;
  }
}
img.main-img {
  width: 100%;
}
.footer-subhead {
  font-size: 14px !important;
  line-height: 20px !important;
  font-family: 'Open Sans', sans-serif !important;
  /* color: #000000 !important; */
  text-decoration: none !important;
  opacity: 0.8;
  margin: 0px 70px 5px 30px !important;
  font-weight: 500 !important;
}
.footer-head {
  font-weight: bold !important;
  font-size: 14px !important;
  margin: 30px !important;
}
.footer-text {
  margin-top: 10px !important;
  color: #000000 !important;
  text-decoration: none !important;
}
.carousel-text-link {
  /* text-decoration: none !important; */
  color: #000000 !important;
  margin-top: 15px !important;
}
.css-8giy41 {
  border-radius: 0% !important;
}
.nav-text-symbol {
  font-weight: lighter !important;
  margin-left: 5px;
  margin-right: 5px;
}
.css-1bn42gd,
.css-q7lffx {
  padding-top: 10px;
}
.vertical-line {
  border-right: 1px solid;
  height: 12px;
  margin: 12px;
}
/* .jordan-line {
  background-color: black;
} */

.vertical-line.dark {
  border-color: #fff;
}

.vertical-line.light {
  border-color: #000;
}
.footer-bottom {
  display: flex;
  align-items: center;
  margin-top: 60px;
  flex-wrap: wrap;
  margin-bottom: 90px;
}

.footer-left {
  font-size: 14px !important;
  /* color: rgba(0, 0, 0, 0.6) !important; */
  opacity: 0.6;
  font-weight: 500 !important;
}

.footer-right {
  display: flex !important;
  gap: 40px !important;
  flex-wrap: wrap !important;
  margin-left: 20px !important;
  font-weight: 500 !important;
}

.footer-link {
  font-size: 14px !important;
  /* color: rgba(0, 0, 0, 0.6) !important; */
  opacity: 0.6;
  text-decoration: none !important;
  transition: color 0.3s ease;
}
.css-17fpwt7-MuiGrid-root {
  margin: 20px;
}

/* dashboard.css */
.overlay-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 60%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 24px;
  border-radius: 16px;
  z-index: 10;
}

.overlay-title {
  font-size: 28px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.overlay-subtitle {
  font-size: 16px;
  color: #fff;
  margin-bottom: 16px;
}

.overlay-button {
  background-color: #fff;
  color: #111;
  font-weight: 600;
  padding: 8px 24px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 14px;
}

.overlay-button:hover {
  background-color: #ddd;
}

.nav-name {
  display: flex;
  margin-right: 200px;
}
:where(.css-dev-only-do-not-override-mc1tut).ant-menu-light.ant-menu-inline
  .ant-menu-item,
:where(.css-dev-only-do-not-override-mc1tut).ant-menu-light
  > .ant-menu.ant-menu-inline
  .ant-menu-item {
  height: auto;
  padding-left: "15px" !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.drawer-dropdown {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
  /* font-size: 14px; */
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif !important;
  /* padding: "6px 10px" */
}
.drawer-dropdown :hover {
  color: grey;
}

.drawer-colour {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* gap: 13px; */
  /* padding: 1px; */
  height: 100px;
  overflow-y: auto;
  padding-top: 20px;
}
.drawer-texts {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.drawer-colour-styles {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border-radius: 50%;
  position: relative;
  border: 2px solid #ccc;
  background-color: var(--bg-color);
  transition: border 0.3s ease;
}

.drawer-colour-styles.selected {
  border: 3px solid black;
}
.checkmark-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: black;
  color: white;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
.drawer-scrollbar {
  height: 100vh;
  overflow-y: auto;
}
.drawer-colour-styles {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border-radius: 50%;
  position: relative;
  border: 2px solid #ccc;
  background-color: var(--bg-color);
  transition: border 0.3s ease;
}

.drawer-colour-styles.selected {
  border: 3px solid black;
}

.drawer-colour-font {
  font-size: 12px;
  margin-top: 1px;
}
.drawer-right {
  /* padding: 24px; */
  /* min-height: 700px; */
}
.custom-checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  border-radius: 4px;
  position: relative;
  background-color: white;
  transition: background-color 0.3s ease;
  flex-shrink: 0;
}
.custom-checkbox.checked {
  background-color: #000;
}
.custom-checkbox.checked::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 1px;
  width: 5px;
  /* font-weight: 700; */
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  animation: tickAppear 0.2s ease forwards;
}
@keyframes tickAppear {
  from {
    opacity: 0;
    transform: rotate(45deg) scale(0);
  }
  to {
    opacity: 1;
    transform: rotate(45deg) scale(1);
  }
}
.drawer-dropdown {
  cursor: pointer;
  white-space: normal !important;
  margin-top: 5px;
}
:where(.css-dev-only-do-not-override-mc1tut).ant-menu-light
  .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-mc1tut).ant-menu-light
  > .ant-menu
  .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-mc1tut).ant-menu-light
  .ant-menu-submenu-selected
  > .ant-menu-submenu-title,
:where(.css-dev-only-do-not-override-mc1tut).ant-menu-light
  > .ant-menu
  .ant-menu-submenu-selected
  > .ant-menu-submenu-title {
  color: #000000 !important;
}
.checkmark-badge {
  font-weight: 900;
}
.ant-menu-item {
  padding-left: 0px !important;
  background-color: white !important;
}
.ant-menu-submenu-title {
  padding-left: 0px !important;
}
.ant-menu-item {
  /* padding-left: 60px !important; */
}
:where(.css-dev-only-do-not-override-mc1tut).ant-menu-light.ant-menu-inline
  .ant-menu-sub.ant-menu-inline,
:where(.css-dev-only-do-not-override-mc1tut).ant-menu-light
  > .ant-menu.ant-menu-inline
  .ant-menu-sub.ant-menu-inline {
  background-color: white;
}

.product-card {
  width: 407px;
  /* border: 1px solid #e0e0e0; */
  /* border-radius: 10px; */
  overflow: hidden;
  font-family: 'Open Sans', sans-serif !important;
  background-color: white;
  transition: box-shadow 0.3s ease;
}

.product-card:hover {
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
}

.product-card__body {
  padding: 0;
}

.product-card__link-overlay {
  display: none;
}

.product-card__img-link-overlay img {
  width: 110%;
  height: auto;
  display: block;
  object-fit: cover;
  border-bottom: 1px solid #eee;
}

.wall-image-loader {
  width: 100%;
  background: #f5f5f5;
}

.product-card__info {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.product-card__messaging {
  font-size: 13px;
  color: #d33918;
  font-weight: 600;
}

.product-card__titles {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.product-card__title {
  font-size: 16px;
  /* font-weight: 600; */
  color: #111;
  font-weight: 550;
  /* font-size: 1rem; */
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif !important;
}

.product-card__subtitle {
  font-size: 16px;
  color: #707072;
}

.product-card__count-wrapper {
  margin: 4px 0;
}

.product-card__colorway-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.product-card__product-count {
  font-size: 16px;
  color: #707072;
}

.product-card__price-wrapper {
  font-weight: 550;
  margin-top: auto; /* pushes it to the bottom if card height grows */
}

.product-card__price {
  font-size: 16px;
  color: #000;
}
.horizontal-carousel {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
  padding: 10px 0;
  box-sizing: border-box;
  /* scrollbar-width: thin; */
}

.carousel-track {
  display: flex;
  gap: 12px;
}

.carousel-item {
  flex: 0 0 auto;
  width: 450px;
  height: 450px;
  /* border-radius: 8px; */
  overflow: hidden;
  background-color: #f5f5f5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.carousel-one {
  display: flex;
}
.css-cxyzjo-MuiSvgIcon-root {
  /* height: 30px !important; */
  /* font-weight: 100 !important; */
  font-size: 40px !important;
  background-color: #e5e5e5;
  border-radius: 50%;
  padding: 8px !important;
}
.css-cxyzjo-MuiSvgIcon-root {
  margin-left: 00px;
}
.dashboard-featured {
  display: flex;
  font-weight: bold !important;
  margin: 83px 0px 0px 53px !important;
}
.css-1tezr9m::-webkit-scrollbar {
  height: 8px; /* height for horizontal scrollbar */
  width: 8px; /* width for vertical scrollbar */
}

/* Scrollbar Thumb */
.css-1tezr9m::-webkit-scrollbar-thumb {
  background-color: #707072;
  border-radius: 4px;
}

/* Scrollbar Track */
.css-1tezr9m::-webkit-scrollbar-track {
  background-color: transparent; /* or any background */
}
.navigate-icon-left::after {
  color: #000000;
}
@keyframes slideInOut {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  15% {
    transform: translateX(0%);
    opacity: 1;
  }
  85% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.slide-text {
  opacity: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 0;
  left: 0;
}

.slide-in {
  animation: slideInOut 0s ease-in-out forwards;
}

.css-rrvoqz-MuiToggleButtonGroup-root .MuiToggleButtonGroup-grouped {
  padding: 25px;
  width: 180px;
  color: black;
}
.product-fav-icon {
  margin-left: 5px;
}
.drawer-right {
  overflow-y: auto;
}

.drawer-right::-webkit-scrollbar {
  display: none;
}
.css-19g2adq-MuiButtonBase-root-MuiToggleButton-root.Mui-selected:hover {
  background-color: white !important;
}
.css-1etnoqg-MuiRating-root {
  margin-left: 100px !important;
}
.airjordan-logo {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.jordan-main-img {
  height: 500px;
  width: 1400px;
}
.jordan-img-sub {
  width: 700px;
  margin: 30px;
}
.jordan-style-one {
  /* background-color: rgb(242, 242, 242); */
  color: rgb(0, 0, 0) !important;
  font-size: 10px;
  cursor: pointer;
}

.jordan-style-two {
  /* background-color: white; */
  color: black;
  cursor: pointer;
}
.jordan-style-one .imagecard-button {
  background-color: #000000 !important;
  color: white;
}
.jordan-style-two .imagecard-button {
  padding: 6px 20px !important;
}
.jordan-style-one .imagecard-button:hover {
  opacity: 0.6;
}
.jordan-style-two .imagecard-button:hover {
  opacity: 0.8;
}
.jordan-style-one .subtitle {
  /* font-weight: 500 !important; */
  font-size: 17px;
  margin-bottom: 10px !important;
  color: #000000;
}
.jordan-style-one .title {
  font-weight: 500 !important;
  font-size: 20px;
  margin-bottom: 10px;
  color: #000000;
}
.jordan-style-two .subtitle {
  font-weight: 500 !important;
  font-size: 20px;
  margin-bottom: 10px;
}
.dashboard-carousel1 .carousel-title{
  font-size: 20px !important;
}
.dashboard-carousel2 .carousel-title{
  font-size: 20px !important;
  margin-left: 20px;
}
.carousel-images{
    margin-left: 20px;
}
.css-mbx0dj{
  display: flex;
  justify-content: end;
}